.App {
  color: white;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .app__overlay {
    background: rgba(0, 0, 0, 0.516);
    min-height: 100vh;
  }
}

.city {
  color: black;
  background-color: rgba(255, 255, 255, 0.641);
  width: 100%;
  padding: 5px;
  margin: 5px;
  .city__input {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  input {
    width: 30%;
  }
  button {
    margin: 5px;
  }
}

.time {
  background-color: rgba(255, 255, 255, 0.641);
  color: black;
  width: 100%;
  padding: 5px;
  margin: 5px;
  .time_input {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  input {
    width: 30%;
  }
  button {
    margin: 5px;
  }
}

.forecast__btn {
  text-transform: uppercase;
  text-align: center;
}

.resultModal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-behavior: inherit;
  .result {
    background: white;
    color: black;
    padding: 3rem;
    border-radius: 10px;
  }
}
